management:
  endpoints:
    web:
      exposure:
        include: health,prometheus
  metrics:
    export:
      prometheus:
        enabled: true
    distribution:
      percentiles-histogram:
        "[http.server.requests]": true
  server:
    port: ${METRICS_EXPORTER_ADDRESS:9100}

server:
  http2:
    enabled: true
  port: ${SERVER_PORT:18080}
  address: ${SERVER_BIND_ADDRESS:localhost}

cassandra:
  contact_points: ${CASSANDRA_CONTACT_POINTS:212.109.214.181:9042,193.8.211.143:9042,212.109.214.253:9042}
  n_clients: ${CASSANDRA_N_CLIENTS:100}

http_adapter:
  rows_to_fetch: ${ROWS_TO_FETCH:200}

